{%extends 'main.htm' %} {%load static%} {%block content%}


<div style="width:600px" class="container bg-light">

    <span>Username*</span>
    <input type="text" class="form-control" name="Username" placeholder="Username" value="FarhanSyedain">

    <span>First Name*</span>
    <input type="text" class="form-control" name="first_name" placeholder="First Name" value="Farhan">

    <span>Last Name*</span>
    <input type="text" class="form-control" name="last_name" placeholder="Last Name" value="Syedain">

    <span>Bio</span>
    <textarea name="" class="form-control" rows="5"></textarea>

    <span>i will design later on</span>
</div>


{%endblock%}