{%extends 'main.htm' %}
{%load static%}
{%block content%}
    <div style="height: 300px;width:100%;" class="container-fluid bg-light p-2">
        <div style="float: left;" class="profile-container">
            <img src="{%static 'usefull_images/anon.png'%}" class="profile-pic-p">
        </div>
        <div class="profile-info">
            <b>FarhanSyedain</b> | <i>@fSyedain</i><br>
            <span>123 Followers | 32 Posts | 22 Following </span> <br>
            <button class="btn btn-outline-info" >Follow</button>
            <!--<button class="btn btn-outline-info" >Follow Back</button>   -->
            <!--  <button class="btn btn-info" >Unfollow</button>-->
            <!--  <a href="#">Edit Profile <i class="fa fa-gear"></i></a> -->
        </div>
    </div>
    <div class="container-fluid p-0">
        <div class="div container-fluid bg-dark">
            <div style="position:relative;height:80px" class="container  p-2">
                <div style="position:absolute ;transform:translate(-50%,-50%);left:50%;top:50%">
                    <button onclick="open_sec('posts')" class="btn btn-light">Posts</button>
                    <button onclick="open_sec('tagged')" class="btn btn-light">Tagged</button>
                    <button onclick="open_sec('highlights')"  class="btn btn-light">Highlights</button>
                </div>
            </div>

        </div>
        <div id="posts" class="section_   bg-info">
            <br><br><br><br>
            <br><br><br><br>
        </div>

        <div id="tagged" class="section_ hidden bg-danger">
            <br><br><br><br>
            <br><br><br><br>
        </div>

        <div id="highlights" class="section_ hidden bg-success">
            <br><br><br><br>
            <br><br><br><br>
        </div>
    </div>

<script>
    function open_sec(ty){
        var sections = document.getElementsByClassName('section_')
        console.log(sections)
        console.log('Hellow')
        for (var i = 0; i < sections.length; i++){
            sections[i].classList.add('hidden')
        }
        document.getElementById(ty).classList.remove('hidden')
    }
</script>
{%endblock%}