{%extends 'main.htm' %}
{%load static%}
{%block content%}
    <div style="width: 600px;" class="container sticky-top bg-light mt-4 t">
        <img class="img-profile" src="{%static 'usefull_images/anon.png' %}" alt="">
        <p class="c">Farhan Syedain</p>
    </div>  
    <div style="width: 600px;position:relative;height:800px" class="container p-2">
        <div class="container-fluid p-2 ">
            <div class="msg">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa inventore exercitationem accusantium optio laudantium ab? Nobis nam veritatis animi neque.
            </div>
        </div>
        <div class="container-fluid p-2 ">
            <div class="msg_">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa inventore exercitationem accusantium optio laudantium ab? Nobis nam veritatis animi neque.
            </div>
        </div>
        <div class="container-fluid p-2 ">
            <div class="msg">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa inventore exercitationem accusantium optio laudantium ab? Nobis nam veritatis animi neque.
            </div>
        </div>
        <div class="container-fluid p-2 ">
            <div class="msg">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa inventore exercitationem accusantium optio laudantium ab? Nobis nam veritatis animi neque.
            </div>
        </div>
        <div class="container-fluid p-2 ">
            <div class="msg_">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa inventore exercitationem accusantium optio laudantium ab? Nobis nam veritatis animi neque.
            </div>
        </div>
        <div class="container-fluid p-2 ">
            <div class="msg">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa inventore exercitationem accusantium optio laudantium ab? Nobis nam veritatis animi neque.
            </div>
        </div>
        <br><br><br>
    </div>
{%endblock%}