<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload</title>
    <script src="/path/to/cdn/jquery.min.js"></script>
    <link rel="stylesheet" href="croppie.css" />
    <script src="croppie.js"></script>
    
</head>
<body>
    <div class="container p-5"><div class="container p-5 bg-info">
        <div class="panel panel-default">
            <div class="panel-heading">Upload Image</div>
            <div class="panel-body" align = "center">
                <input type="file" accept="image/jpeg, image/png" name="upload_image" id="upload_image">
            </div>
            <div class="mt-5" id="image_display"></div>
        </div>
    </div>

    <script>
        
    </script>
    
</body>
</html>